@font-face {
	font-family: 'Linearicons';
	src: url('../fonts/Linearicons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.cl-red {
  color: red;
}

.wd-100 {
  width: 100px;
}

.bg-graph {
    background: url('../imgs/bg-graph.png');
}

[class^="icon-linear-"], [class*=" icon-linear-"] {
	font-family: 'Linearicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-linear-check:before {
    content: "\e934";
}